{% set sectionAttributes = attrs(div_attributes|default)
  .addClass([
    "content-box",
    content_box_properties_mt,
    content_box_properties_mb,
    content_box_properties_pt,
    content_box_properties_pb
  ])
  .set('style', backgroundColor)
%}
{% set innerAttributes = attrs(div_attributes|default)
    .addClass(["content-box-inner", content_box_properties_width])
    .addClass("contrast", content_box_content_color_inverted)
    .addClass(content_box_content_text_align)
%}
<section{{sectionAttributes}} {{cssID}}>
  {% if addContentBoxImage %}
    {% set backgroundImageAttributes = attrs(div_attributes|default)
        .addClass("content-box-background-image")
        .addClass('parallax', content_box_background_parallax)
        .set('style', 'background-image:url(' ~ backgroundImagePath ~ ')', backgroundImagePath)
    %}
    <div{{backgroundImageAttributes}}>
    {% if content_box_background_overlay %}
      {% set backgroundOverlayAttributes = attrs(div_attributes|default)
        .addClass("content-box-background-overlay")
      %}
      <div{{backgroundOverlayAttributes}}></div>
    {% endif %}
    </div>
  {% endif %}
  <div{{innerAttributes}}>
